.venv/
.env

### parser ###
parser/days/*.txt

### Mock ###
target/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache



### LoadRunner ###
.sdf
combined_*.c
ThumbnailsCache.tmp
*.bak
pre_cci.c
*.ci
*.idx
*.c.pickle
mdrv_cmd.txt
options.txt